<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.undefined.iuxe2015" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MumoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SetupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Setup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HubActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.LibraryActivity"
            android:label="@string/title_activity_library" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search" />

        <!-- Needed for LoginActivity for Spotify to work-->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
